{% load static %}

<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'users/index.css' %}">
        <div class="banner">

            <div class="banner_content">
                <img  id="logo" src="{% static "media/ExeGuesser.png" %}" alt="home" width="500px" />
                <title>ExeGuesser</title>
            </div>

        </div>

    </head>
    <body>
    <div class="vertical_banner_color"></div>

    <div class="vertical_banner_position">
        <span class="solid">
            <h1 class="welcome">Welcome to ExeGuesser!</h1>
            <a href="login"><button type="submit">Login</button></a>
            <a href="register"><button type="submit">Register</button></a>
        </span>

    </div>
    <img class="background" src="{% static "media/exeter.jpeg" %}">
    </body>


</html>

