{% block content %}      
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
    <div class="banner">
        <img  id="logo" src="{% static "media/ExeGuesser.png" %}" alt="home" width="500px" />

    </div>

<!--Login--> 
<div class="mainpage">
<div class="controls">
    <input id="back" type=button value="Back" onClick="javascript:history.go(-1);">
</div>
<div class="content">
          <br>
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button class="btn btn-primary" type="submit">Login</button>

  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>



</div>
</div>

{% endblock %}