<title>ExeGuesser</title>

<script>

    let stopTimer;
    let timeLeft = 120;

    //function performed when the start game button is pressed. Creates a timer and  sets the photo.
    function startGame() {
        document.getElementById("photo").src = "exeterSign.jpg";
        document.getElementById("photo").style.margin = "30px 10px 10px 10px"
        stopTimer = setInterval(timer, 1000);
        document.getElementById('timerLabel').innerHTML = 'Time Left: ';
        function timer() {
            document.getElementById("timer").innerHTML = timeLeft -= 1;
            if (timeLeft <= 30) {
                document.getElementById("timer").style.color = "red";
            }
            if (timeLeft <= 0) {
                alert("Times Up! Try again")
                clearInterval(stopTimer);
            }
        }
    }

    //stop the timer running and ping an alert with the win message.
    function stopGame() {
        clearInterval(stopTimer);
        let timeTaken = 120 - timeLeft;
        alert(`Congratulations of have found the location in ${timeTaken} seconds!"`)
    }
    
    function myMap() {
    var mapProp= {
        center:new google.maps.LatLng(50.7371,-3.5351),
        zoom:15,
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    google.maps.event.addListener(map, 'click', function(event) {
    alert(event.latLng.lat() + ", " + event.latLng.lng());
    });
	}

</script>
<div align="right">
    <p>{{user.username}}</p>
    <a href={% url 'logout' %}>
    <button type="submit">Logout</button>
    </a>
    <a href={% url 'home' %}>
    <button type="submit">Home</button>
    </a>
</div>

<div align="center">
    <button onclick="startGame()">Start Game</button><br />
    <img src="" id="photo" />
    <h1 id="timerLabel"> </h1>
    <p id="timer" style="font-size:24px"></p>
    <div id="googleMap" style="width:600px;height:400px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMe4iUgW13aCGj7tZArAWK1u3P0OIeT7M&callback=myMap"></script>
    
    <button onclick="stopGame()">Found it!</button>
</div>
